{% extends 'base.html' %}

{% block title %}
  Confirmación borrado de producto
{% endblock %}

{% block content %}    
     <center>   
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <h2>Producto a Eliminar: </h2>  
        </div>    
        <h2 style="color: red;">Código de producto: {{object.product_code}}</h2>
        <p>¿Está seguro que desea eliminar este producto?</p>
        <form action="" method="POST">
            {% csrf_token %}                
            <input type="submit" value="Si, eliminar">    
        </form>  
    </center>        
{% endblock %} 