{% extends 'base.html' %}

{% block title %}
  Listado de productos
{% endblock %}

{% block nav %}
  <form class="form-inline my-2 my-lg-0" action= "/products/list-products/" method= "GET">
    <input class="form-control mr-sm-2" type="search" name="search" placeholder="Filtre un producto" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
  </form>
{% endblock %}

{% block content %}
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <h1>Estos son nuestros productos!</h1>
    </div>
    <table class="table table-bordered">
      <thead style="background-color: antiquewhite;">
        <tr>        
          <td>Nombre</td>
          <td>Código producto</td>            
          <td>Categoría</td>
          <td>Precio</td>
          <td>Descripción</td>
          <td>Deseas modificar?</td>
          <td>Deseas eliminar?</td>   
        </tr>
      </thead>
      <tbody>

        {% if object_list %}
          {% for product in object_list %}
            <tr>            
              <td>{{product.product_name}}</td>
              <td>{{product.product_code}}</td>            
              <td>{{product.category_name}}</td>
              <td>{{product.product_price}}</td>
              <td>{{product.product_description}}</td>
              <td> <a href="/products/update-product/{{product.id}}/" class="btn btn-primary">Modificar</a> </td>             
              <td> <a href="/products/delete-product/{{product.id}}/" class="btn btn-danger">Borrar</a> </td>
            </tr>
          {% endfor %}                
        {% else %}   
          <h1>No hay productos para mostrar</h1>    
        {% endif %}
      </tbody>
    </table>      
{% endblock content %}