{% extends 'base.html' %}

{% block title %}
  Listado de categorías
{% endblock %}

{% block nav %}
  <form class="form-inline my-2 my-lg-0" action= "/products/list-categories/" method= "GET">
    <input class="form-control mr-sm-2" type="search" name="search" placeholder="Filtre una categoría" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
  </form>
{% endblock %}

{% block content %}
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <h1>Estos son nuestras categorías!</h1>
    </div>
    <table class="table table-bordered">
      <thead style="background-color: #E2E2E2;">
        <tr>        
          <td>Código de categoria</td>
          <td>Categoría</td>
          <td></td>
          <td></td>                
        </tr>
      </thead>
      <tbody>
        {% if object_list %}
          {% for category in object_list %}
            <tr>
              <td>{{category.category_code}}</td>              
              <td>{{category.category_name}}</td>            
              <td> <center><a href="/products/update-category/{{category.id}}/" class="btn btn-secondary">Modificar</a> </center> </td>             
              <td> <center><a href="/products/delete-category/{{category.id}}/" class="btn btn-danger">Borrar</a> </center> </td>
            </tr>
          {% endfor %}                
        {% else %}   
          <h1>No hay categorías para mostrar</h1>    
        {% endif %}
      </tbody>
    </table>      
    <div class="pagination">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1" class= "btn btn-secondary">&laquo; Desde el comienzo</a>
              <a href="?page={{ page_obj.previous_page_number }}" class= "btn btn-secondary">Anterior</a>
          {% endif %}

          <span class="current">
              Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
          </span>

          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}" class= "btn btn-secondary">Siguiente</a> 
          {% endif %}
      </span>
    </div>   
{% endblock content %}