<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Papeleria Titi-Yaca</title>
    {% block style %}
    <style>

      html {
        width: 100%;
        height: 100%;
        margin: 0;
      }

      footer {
        position: absolute;
        bottom: 0;
        width: 100%;
      }

      .card {
        position: relative;
      }

    </style>
    {% endblock style %}
</head>
<body> 
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
              <a class="navbar-brand" href="/">Home</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>          
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                  <!-- Products -->                   
                  <li class="nav-item dropdown">  
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Productos
                    </a>
                    <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                      <li class="dropdown-submenu">
                        <a class="dropdown-item text-white" href="/products/create-product/">Crear</a>
                      </li>                        
                      <li class="dropdown-submenu">
                        <a class="dropdown-item text-white" href="/products/list-products/">Listar</a>
                      </li>
                    </ul>
                  </li>
                  <!-- Categories -->                   
                  <li class="nav-item dropdown">  
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Categorias
                    </a>
                    <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                      <li class="dropdown-submenu">
                        <a class="dropdown-item text-white" href="/products/create-category/">Crear</a>
                      </li>                        
                      <li class="dropdown-submenu">
                        <a class="dropdown-item text-white" href="/products/list-categories/">Listar</a>
                      </li>
                    </ul>
                  </li>          
                  <!-- Orders -->                   
                  <li class="nav-item dropdown">  
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Órdenes
                    </a>
                    <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                      <li class="dropdown-submenu">
                        <a class="dropdown-item text-white" href="/orders/create-order/">Crear</a>
                      </li>                        
                      <li class="dropdown-submenu">
                        <a class="dropdown-item text-white" href="/orders/list-orders/">Listar</a>
                      </li>
                    </ul>
                  </li>                 
                  <!-- Paymenth Methods -->                
                  <li class="nav-item dropdown">  
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Métodos de Pago
                      </a>
                      <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                        <li class="dropdown-submenu">
                          <a class="dropdown-item text-white" href="/orders/create-payment-method/">Crear</a>
                        </li>                        
                        <li class="dropdown-submenu">
                          <a class="dropdown-item text-white" href="/orders/list-payment-methods/">Listar</a>
                        </li>
                      </ul>
                  </li> 
                  <!-- Orders Status -->                               
                  <li class="nav-item dropdown">  
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Estados de Órdenes
                    </a>
                    <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                      <li class="dropdown-submenu">
                        <a class="dropdown-item text-white" href="/orders/create-order-status/">Crear</a>
                      </li>                        
                      <li class="dropdown-submenu">
                        <a class="dropdown-item text-white" href="/orders/list-orders-status/">Listar</a>
                      </li>
                    </ul>
                  </li>  
                  <!-- About Us -->
                  <li class="nav-item">
                    <a class="nav-link" href="/about-us/">Sobre nosotros</a>
                  </li>
                  {% if request.user.is_authenticated %}
                  <li class="nav-item" style= "margin-left: 60px;">
                    <a class="nav-link" href="/users/logout/">Logout</a>
                  </li>
                  {% else %}
                  <li class="nav-item" style= "margin-left: 60px;">
                    <a class="nav-link" href="/users/login/">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/users/signup/">Registro</a>
                  </li>
                  {% endif %}                  
                </ul>
                {% block nav %}                
                {% endblock  %}
              </div>
            </div>
          </nav>
    </header>

    <div>      
      <div class="container">      
        {% block content %}
        {% endblock  %}
      </div>
    </div>
    
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Marcelo Ocampo</h5>

        <p>
          Data Scientist || Python & Django Developer  || Business Analyst
        </p>
        
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Carlos Rodriguez</h5>

        <p>
          Programmer Analyst || Python & Django Developer || Genexus Analyst
        </p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright - Todos los derechos reservados ©
  </div>
  <!-- Copyright -->
</footer>
</body>
</html>