<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Papeleria Titi-Yaca</title>
    <style>

      html {
        width: 100%;
        height: 100%;
        margin: 0;
      }

      footer {
        position: absolute;
        bottom: 0;
        width: 100%;
      }

      .card {
        position: relative;
      }

      .Botones-home {
        display: flex;
        margin-top: 30px;
        align-items: center;
        justify-content: space-evenly;
      }

    </style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href= "/products/create-product/">Crear productos<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href= "/products/create-category/">Crear categorias<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Ordenes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Crear órden</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/orders/create-payment-method/">Crear método de pago</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/orders/create-order-status/">Crear estado de la órden</a>                  
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sobre nosotros</a>
                </li>
              </ul>
              {% block nav %}
              {% endblock  %}
            </div>
          </nav>
    </header>

    <div>
        {% block content %}
        {% endblock  %}
    </div>
    
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Marcelo Ocampo</h5>

        <p>
          Data Scientist || Python & Django Developer  || Business Analyst
        </p>
        
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Carlos Rodriguez</h5>

        <p>
          Programmer Analyst || Python & Django Developer || Genexus Analyst
        </p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright - Todos los derechos reservados ©
  </div>
  <!-- Copyright -->
</footer>

</body>
</html>