{% extends 'base.html' %}
{% block content %}
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <h1>Bienvenidos a la mejor papeleria del Uruguay</h1>    
    </div>
    <div class= "Botones-home">
        <a href="/orders/list-payment-methods/" class="btn btn-success">Listar métodos de pagos</a>
        <a href="/orders/list-orders-status/" class="btn btn-danger">Listar estados de órdenes</a>
        <a href="/products/list-products/" class="btn btn-warning">Listar productos</a>
        <a href="/products/list-categories/" class="btn btn-info">Listar categorias</a>
    </div>
{% endblock content %}