{% extends 'base.html' %}

{% block title %}
  Confirmación de borrado de método de pago
{% endblock %}

{% block content %}        
    {% if object %}   
        <center>   
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <h2>Método de Pago a Eliminar: </h2>  
        </div>    
        <h2 style="color: red;">{{object.payment_method_large}} ({{object.payment_method_short}})</h2>
        <p>¿Está seguro que desea eliminarlo?</p>
        <form action="" method="POST">
            {% csrf_token %}                
            <input type="submit" value="Si, eliminar">    
        </form>  
        </center>                    
    {% endif %}
{% endblock %} 