{% extends 'base.html' %}

{% block title %}
  Confirmación de Borrado de Orden
{% endblock %}

{% block content %}    
    {% if message %}
        <h2 style="color: green;"> {{message}} </h2>
    {% else %}        
        <center>   
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                <h2>Orden a Eliminar: </h2>  
            </div>    
            <h2 style="color: red;">{{object.order_code}}</h2>
            <p>¿Está seguro que desea eliminarla?</p>
            <form action="" method="POST">
                {% csrf_token %}                
                <input type="submit" value="Si, eliminar">    
            </form>  
        </center>        
    {% endif %}
{% endblock %} 