{% extends 'base.html' %}

{% block title %}
  Confirmación de borrado de detalle de orden
{% endblock %}

{% block content %}    
    <center>
    {% if message %}
        <h2 style="color: green;"> {{message}} </h2>
        <form action="" method="POST">
            {% csrf_token %}                
            <a href="/orders/list-order-items/{{order_code}}/" class="btn btn-primary">Volver</a>
        </form>
    {% else %}        
        <h2>Item a borrar: {{order_item.item_code}}</h2>  
        <p>Seguro que desea eliminarlo?</p>
        <form action="" method="POST">
            {% csrf_token %}                
            <input type="submit" value="Si, borrar">    
        </form>                 
    {% endif %}
    </center>
{% endblock %} 
