{% extends 'base.html' %}

{% block title %}
  Listado de Estados de Órdenes 
{% endblock %}

{% block content %}
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <h1>Listado de Estados de Órdenes</h1>    
  </div>
  <table class="table table-bordered">
    <thead style="background-color: antiquewhite;">
      <tr>        
        <td>Estado de Órden</td>        
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      {% if object_list %}
        {% for order_status in object_list %}
          <tr>            
            <td>{{order_status.status}}</td>            
            <td> <a href="/orders/update-order-status/{{order_status.id}}/" class="btn btn-primary">Modificar</a> </td>             
            <td> <a href="/orders/delete-order-status/{{order_status.id}}/" class="btn btn-danger">Borrar</a> </td>
          </tr>
        {% endfor %}                
      {% else %}   
        <h1>No hay registro de órdenes de pago</h1>    
      {% endif %}
    </tbody>
  </table> 
{% endblock %}  
