{% extends 'base.html' %}

{% block title %}
  Listado de métodos de pago
{% endblock %}

{% block content %}
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <h2>Listado de Métodos de Pago</h2>    
  </div>
  <table class="table table-bordered">
    <thead style="background-color: antiquewhite;">
      <tr>        
        <td>Método de Pago</td>
        <td>Método de Pago (CORTO)</td>            
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      {% if object_list %}
        {% for payment_method in object_list %}
          <tr>            
            <td>{{payment_method.payment_method_large}}</td>
            <td>{{payment_method.payment_method_short}}</td>            
            <td> <a href="/orders/update-payment-method/{{payment_method.id}}/" class="btn btn-primary">Modificar</a> </td>             
            <td> <a href="/orders/delete-payment-method/{{payment_method.id}}/" class="btn btn-danger">Borrar</a> </td>
          </tr>
        {% endfor %}                
      {% else %}   
        <h1>No hay registro de métodos de pago</h1>    
      {% endif %}
    </tbody>
  </table>      
{% endblock %}


