{% extends 'base.html' %}

{% block title %}
  Listado de Órdenes
{% endblock %}

{% block content %}
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <h2>Listado de Órdenes</h2>    
  </div>
  <table class="table table-bordered">
    <thead style="background-color: antiquewhite;">
      <tr>        
        <td>Código</td>
        <td>Precio</td>            
        <td>Fecha de Creación</td>
        <td>Método de Pago</td>
        <td>Estado</td>
        <td>Nombre de Cliente</td>
      </tr>
    </thead>
    <tbody>
      {% if object_list %}
        {% for order in object_list %}
          <tr>            
            <td>{{order.order_code}}</td>
            <td>{{order.order_price}}</td>            
            <td>{{order.creation_time}}</td>
            <td>{{order.payment_method_short}}</td>
            <td>{{order.status}}</td>
            <td>{{order.client_name}}</td>
            <td> <a href="/orders/update-order/{{order.id}}/" class="btn btn-primary">Modificar</a> </td>             
            <td> <a href="/orders/delete-order/{{order.id}}/" class="btn btn-danger">Borrar</a> </td>
            <td> <a href="/orders/list-order-items/{{order.id}}/" class="btn btn-danger">Ver detalle</a> </td>
          </tr>
        {% endfor %}                
      {% else %}   
        <h1>No hay registro de órdenes</h1>    
      {% endif %}
    </tbody>
  </table>      
{% endblock %}


